<div class="col col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
 <h3 class="text-center">Reset Password</h3>

    <form ng-submit="reset.resetPassword(newpassword);" ng-hide="reset.hide">

        <div class="form-group">
            <label for="newpassword">New Password:</label>
            <input type="password" class="form-control" name="newpassword" id="newpassword" placeholder="please enter password" ng-model="newpassword">
        </div>

        <button type="submit" class="btn btn-primary" style="display:inline-block;">Reset Password</button>
        <p class="text-right"><a href="/register">New user, click here for registration</a></p>
    </form>

    <div class="spinner" ng-show="!reset.loaded">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <br>

    <div class="show-hide-message">
        <div class="alert alert-success" ng-show="reset.successMsg">
            {{reset.successMsg}}
        </div>
        <div class="alert alert-danger" ng-show="reset.errorMsg">
            {{reset.errorMsg}}
        </div>
    </div>

</div>