<div class="col col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h3 class="text-center">Request Reset Password Link</h3>

    <form ng-submit="reset.sendPasswordResetLink(email);">

        <div class="form-group">
            <label for="email">Email-Id:</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="please enter email-id" ng-model="email">
        </div>

        <button type="submit" class="btn btn-primary" style="display:inline-block;">Send Reset Password Link</button>
        <p class="text-right"><a href="/register">New user, click here for registration</a></p>
    </form>

    <div class="spinner" ng-show="!reset.loaded">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <br>

    <div class="show-hide-message">
        <div class="alert alert-success" ng-show="reset.successMsg">
            {{reset.successMsg}}
        </div>
        <div class="alert alert-danger" ng-show="reset.errorMsg">
            {{reset.errorMsg}}
        </div>
    </div>
</div>